<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Reservation test</title>  
  <link rel="stylesheet" href="stylesheets/dist/app.css" type="text/css" />
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>
    <script src="javascripts/dist/lib.js"></script>
    <script src="javascripts/dist/app.js"></script>
</body>
</html>